.homePageContainer{
    /* min-height: 300vh; */
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 100%),
        url('/HomePageBg3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.2s linear;
}


@media (max-width: 900px) {
    .homePageContainer{   
        background-image: linear-gradient(to bottom, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 100%),
        url('/HomePageBg3Mbl.jpg');
    }
}