.homePageContainer{
    /* min-height: 300vh; */
    background-image: linear-gradient(rgba(0,0,0,var(--bg-overlay-strength)), rgba(0,0,0,var(--bg-overlay-strength))),
        url('/HomePageBg3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.2s linear;
}


@media (max-width: 900px) {
    .homePageContainer{   
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        url('/HomePageBg3Mbl.jpg');
    }
}